.startBar {
  background: var(--mantle);
  width:97vw;
  display: flex;
  border: 3px solid var(--border);
  position: absolute;
  left: 1.5vw;
  top: 1em;
  padding:.5em;
  border-radius: 1em;
}

.appsContainer {
  display: flex;
  flex-grow: 1;
}

.app {
  padding: 0 .5em;
  font-family: var(--title-font);
  font-weight: 900;
  color: var(--overlay-2);
}

.app.appRunning {
  color: var(--border);
}

.statusContainer {
  display:flex;
  height:100%;
  align-items: center;
}

.statusPowerContainer {
  border-radius: 1em;
  width: 7em;
  height:1em;
  border: 3px solid var(--border);
  overflow:hidden;
  margin: 0 .5em;
}

.statusPower {
  background: var(--green);
  width:5em;
  height: 100%;
  border: 0px solid transparent;
  text-align: center;
  color: var(--base);
  border-radius: 0 1em 1em 0;
  position:relative;
}

.statusPower::after {
  content: '🗲';
  position:absolute;
  font-size:0.6em;
  vertical-align: -1em;
  top:-.2em;
  left: 50%;
}


.statusClock {
  margin: 0 .5em;
  font-family: var(--title-font);
  font-weight: bold;
}
